# Entorno y secretos
.env
.env.*
*.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# Django
db.sqlite3
media/
staticfiles/
logs/

# Certificados
certs/
*.pem
*.key

# Archivos de prueba
test_receipt.txt

# IDEs
.idea/
.vscode/
*.iml

# Sistema
.DS_Store
Thumbs.db
